<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="inventor">
            <h2><span>Inventor</span> {{ inventor.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Vendor Name</span></dt>
                <dd>
                    <span>{{ inventor.vendorName }}</span>
                </dd>
                <dt><span>Trx Day</span></dt>
                <dd>
                    <span>{{ inventor.trxDay }}</span>
                </dd>
                <dt><span>Trx Month</span></dt>
                <dd>
                    <span>{{ inventor.trxMonth }}</span>
                </dd>
                <dt><span>Trx Week</span></dt>
                <dd>
                    <span>{{ inventor.trxWeek }}</span>
                </dd>
                <dt><span>Tool Id</span></dt>
                <dd>
                    <span>{{ inventor.toolId }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/inventor', inventor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
